; vim: set fileencoding=utf-8 :
; Fri 30 Dec 01:32:42 2016 CET

[buildout]
parts = sysegg scripts
develop = .
eggs = popster
newest = false

[sysegg]
recipe = syseggrecipe
eggs = pillow
       docopt
       watchdog
       pytest
       pytest-runner

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ${buildout:eggs}
interpreter = python
